.container {
  background-color: white;
  border: 5px dotted black;
  width: 80%;
  margin: 0 auto 15%;
  padding: 1%;
}

.bioPicture {
  width: 80%;
  max-width: 183px;
  /* border: 1px solid black; */
  margin: 10px auto;
  display: block;
  box-shadow: 0 0 10px 10px lightgray;
}

.bioPicture > img {
  width: 100%;
}

.bioText {
  line-height: 1.7rem;
  font-size: 1.3rem;
  font-family: 'Domine', serif;
  text-align: left;
}

.bioText > p:first-child {
  font-size: 1.8rem;
  line-height: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.bioText > p:nth-child(2) {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

@media screen and (min-width: 1000px) {
  .container {
    width: 60%;
  }
  .bioPicture {
    float: left;
    max-width: 50%;
    width: fit-content;
    margin: 20px 20px 5px 20px;
  }

  .bioText > p:first-child {
    font-size: 3rem;
  }

  .bioText > p:nth-child(2) {
    font-size: 2rem;
  }
}