.headline > p {
  text-align: center;
}

.hero {
  font-family: 'Montserrat', sans-serif;
  background-color: lightgray;
  padding-top: 200px;
}

.hero > img {
  margin: 0 auto 10px;
  display: block;
  box-shadow: 0 0 10px 10px white;
  
}

.hero > p {
  font-size: 5rem;
  margin: 0;
  text-align: center;
}

.headline {
  font-size: 2rem;
  background-color: white;
  height: fit-content;
  padding-bottom: 20px;
  font-family: 'Domine', serif;
}

@media screen and (min-width: 1000px) {
  .hero > p {
    font-size: 10rem;
    padding: 0 20%;
  }

  .headline > p {
  padding: 0 20%;
  }

  .headline {
  padding: 20px 0;
  }
}