h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

p {
  text-align: center;
  font-size: 1.1rem;
}

a {
  text-align: center;
  display: block;
  margin: 10px auto;
}

.hero > a {
  width: fit-content;
}

.hero > a > img {
  width: 90%;
  max-width: 515px;
  height: auto;
  border: 1px solid black;
  display: block;
  margin: 0 auto 2%;
  background-color: white;
  box-shadow: 0 0 10px 10px white;
}

.desc, .tech, .links {
  padding: 10px;
}

.desc {
  background-color: white;
}

.links {
  background-color: white;
}

main {
  line-height: 1.6rem;
  font-family: 'Domine', serif;
}

@media screen and (min-width: 1000px) {
  .hero > img {
    width: 50%;
  }
}

@media screen and (max-width: 1000px) {
  main {
    padding-bottom: 15%;
  }
}