* {
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  padding-bottom: 5%;
  background-color: lightgray;
}

a {
  margin: 0 auto;
  text-decoration: none;
}

footer {
  background-color: black;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  flex-shrink: 0;
  position: absolute;
  bottom: 0;
}

footer > span {
  margin-top: 25px;
}
footer > a {
  text-align: center;
  color: white;
  width: fit-content;
}

i {
  display: inline;
}

footer > a:hover {
  color: lightgray;
  transition: all 0.25s linear 0s;
}

#nav_btn {
  position: absolute;
  right: 10px;
  display: block;
  float: right;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
}

#nav_btn span,
#nav_btn span::before,
#nav_btn span::after {
  width: 28px;
  height: 4px;
  float: left;
  display: block;
  background: #000;
  position: relative;
  text-indent: -9000px;
}
#nav_btn span {
  margin: 8px 0;
}

#nav_btn span::before,
#nav_btn span::after {
  content: "";
  position: absolute;
}
#nav_btn span::before {
  top: -8px;
}
#nav_btn span::after {
  bottom: -8px;
}

#nav_btn span,
#nav_btn span:before,
#nav_btn span:after {
  transition: all 100ms ease-in-out;
}
#nav_btn.active span {
  background-color: transparent;
}
#nav_btn.active span::before,
#nav_btn.active span::after {
  top: 0;
}
#nav_btn.active span:before {
  transform: rotate(45deg);
  transform: rotate(45deg);
}
#nav_btn.active span::after {
  transform: translateY(-10px) rotate(-45deg);
  top: 10px;
}

.toggle {
  display: none;
}

#nav_btn {
  display: block;
}

.nav {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0px;
}

.nav > a {
  margin: 0;
}

.navItem {
  position: relative;
  border: 1px solid black;
  font-size: 2rem;
  color: black;
  background-color: white;
  max-height: 100px;
  width: 100%;
  left: 0;
  transition: left ease 0.5s;
}
.navItem > img {
  height: 80px;
  margin: 10px auto;
}

.navItem:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 10px black;
  left: 10%;
  transition: all 0.5s linear 0s;
}
div.logoLink {
  padding: 0;
}
.logoLink:hover {
  background-color: white;
}

@media screen and (min-width: 1000px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: white;
    padding: 3px;
  }

  .navItem {
    border: 2px solid black;
    padding: 10px;
  }
  .navItem:hover {
    left: 0;
    background-color: white;
    color: black;
  }
  #nav_btn {
    display: none;
  }
}
