body {
  font-family: "Montserrat", sans-serif;
}

.headline > p {
  text-align: center;
  padding: 5%;
  line-height: 1.5em;
}

.hero {
  background-color: lightgray;
  padding-top: 20px;
}

.hero > img {
  margin: 0 auto 10px;
  display: block;
  box-shadow: 0 0 10px 10px white;
  width: 300px;
}

.hero > p {
  font-size: 2rem;
  margin: 0 auto;
  text-align: center;
  max-width: 90%;
}

.headline {
  font-size: 2rem;
  background-color: white;
  height: fit-content;
  padding-bottom: 20px;
  font-family: "Domine", serif;
}

@media screen and (min-width: 1000px) {
  .hero {
    padding-top: 170px;
  }
  .hero > p {
    font-size: 4rem;
  }

  .headline > p {
    padding: 5% 20%;
  }

  .headline {
    padding: 20px 0;
  }
}
