h2 {
  text-align: center;
  font-size: 2em;
  line-height: 1.2em;
}

h3 {
  text-align: center;
  text-decoration: underline;
  font-size: 1.5em;
}

p {
  text-align: center;
  font-size: 1.1rem;
  width: 90%;
  margin: 0 auto;
}

a {
  text-align: center;
  display: block;
  margin: 10px auto;
}

.hero > a {
  width: fit-content;
}

.hero > a > img {
  width: 90%;
  max-width: 515px;
  height: auto;
  border: 1px solid black;
  display: block;
  margin: 25px auto 2%;
  background-color: white;
  box-shadow: 0 0 10px 10px white;
}

.desc,
.tech,
.links {
  padding: 10px;
}

.desc {
  background-color: white;
}

.links {
  background-color: white;
  border-bottom: 3px dashed black;
}

main {
  line-height: 1.6rem;
  font-family: "Domine", serif;
  padding-top: 20px;
  padding-bottom: 70px;
}

@media screen and (min-width: 1000px) {
  .hero > img {
    width: 50%;
  }
  main {
    padding-top: 130px;
    padding-bottom: 0;
  }
  .innerLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    margin: 30px auto;
  }
  .links a {
    transform: rotate(-20deg);
  }
  p {
    width: 60%;
    margin: 0 auto;
  }
}
